*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	--primary-color: #bf0000;
}

body {
	font-family: "Quicksand", "sans-serif";
	font-size: 14px;
	overflow-x: hidden;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	opacity: 0;
	transition: 0.5s all ease-in-out;
	transform: translateY(0px);
}

.wrapper.is-visible {
	opacity: 1;
	transition: 1s all ease-in-out;
	transform: translateY(-10px);
}

.footer-wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 500%;
}

h2 {
	font-size: 225%;
}

h3 {
	font-size: 200%;
}

h4 {
	color: grey;
}

a {
	text-decoration: none;
}

p {
	line-height: 1.6;
}

ul {
	list-style: none;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	transition: all 0.5s ease;
	height: 80px;
	background-color: white;
}

nav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
	position: relative;
}

nav a {
	color: black;
}

.menu-icons {
	position: absolute;
	right: 0;
	font-size: 200%;
	display: none;
}

.logo-container {
	line-height: 80px;
	margin-right: 50px;
	z-index: 999;
	display: flex;
	height: 80px;
	flex-direction: column;
	justify-content: space-around;
}

.logo-container img {
	height: 80%;
}

.nav-list {
	display: flex;
	width: 100%;
	align-items: center;
	letter-spacing: 0px;
	color: black;
}

.nav-list > li {
	line-height: 80px;
	position: relative;
	white-space: nowrap;
	padding: 0 20px;
}

.nav-list a {
	display: block;
	font-size: 120%;
	transition: color 650ms;
	font-weight: 500;
}

.btn {
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	height: 45px;
	line-height: 20px;
	color: white;
	padding: 10px 30px;
	font-weight: 600;
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.509);
	transition: all 0.5s ease-in-out;
	color: var(--primary-color);
}

.nav-button {
	transform: translateY(0px);
}

.nav-button:hover {
	transform: translateY(-4px);
	box-shadow: 7px 10px 32px -5px rgba(0, 0, 0, 0.35);
}

.sub-menu {
	display: block;
	position: absolute;
	border-top: 2px solid var(--primary-color);
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 100;
	top: 70px;
	transition: all 100ms;
	opacity: 0;
	visibility: hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	white-space: nowrap;
}

.sub-menu li {
	line-height: 3rem;
	padding-left: 20px;
	padding-right: 20px;
}

.sub-menu::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 2rem;
	border: 10px solid transparent;
	border-bottom-color: var(--primary-color);
	transition: all 100ms;
}

.nav-list li:hover > .sub-menu {
	top: 80px;
	opacity: 1;
	visibility: visible;
}

li.move-right {
	margin: auto 0 auto auto;
}

.coloured-menu {
	background-color: rgba(255, 255, 255, 0.9);
	transition: all 250ms ease;
	z-index: 999;
}

._current_ {
	color: var(--primary-color);
}

.landing {
	height: 75vh;
	display: flex;
	width: 100%;
}

.landing video {
	width: 100%;
	object-fit: cover;
}

.landing-left {
	width: 40%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
	position: absolute;
	left: 0;
}

.landing-left-background {
	width: 100%;
	height: 75vh;
	background: #1e1e1e;
	opacity: 95%;
	position: absolute;
	z-index: 1;
}

.header-text {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	opacity: 100%;
	z-index: 2;
}

.header-text h1 {
	margin-bottom: 20px;
	font-weight: 500;
}

.header-text h3 {
	font-weight: 400;
}

.header-button {
	margin-top: 8vh;
}

.header-button a {
	font-size: 140%;
	font-weight: 500;
}

@media screen and (max-width: 985px) {
	.landing-left {
		width: 100%;
	}

	.landing-left-background {
		opacity: 0.5;
	}

	.header-text {
		text-align: center;
	}
	.header-text h1 {
		font-size: 400%;
	}
	.header-text h3 {
		font-size: 150%;
	}
}

@media screen and (max-width: 985px) {
	header {
		position: fixed;
		background-color: white;
	}

	nav {
		width: 100%;
	}

	.nav-list {
		position: absolute;
		top: 80px;
		left: 0;
		display: none;
		flex-direction: column;
		background-color: white;
		z-index: 1000;
		align-items: initial;
		overflow-y: scroll;
		overflow-x: hidden;
		padding-bottom: 40px;
	}

	.nav-list > li {
		line-height: 60px;
		left: 1vh;
	}

	.sub-menu {
		position: initial;
		border: 3px solid transparent;
		border-left-color: var(--primary-color);
		max-height: 0;
		border-radius: 0px;
		background-color: white;
	}

	.sub-menu li {
		margin-left: 10px;
	}

	.sub-menu::before {
		display: none;
	}

	.nav-list li:hover > .sub-menu {
		opacity: 1;
		visibility: visible;
		max-height: initial;
	}

	li.move-right {
		margin: 0 auto 0 0;
		line-height: initial;
	}

	.menu-icons {
		display: block;
	}

	.close-icon {
		display: none;
	}

	nav.active .close-icon {
		display: block;
	}

	nav.active .menu-icon {
		display: none;
	}

	nav.active .nav-list {
		display: flex;
	}

	.nav-button {
		margin-top: 20px;
	}

	.nav-button {
		color: white;
	}

	.logo-container {
		height: 50px;
		margin-left: 20px;
	}

	.menu-icons {
		margin-right: 20px;
	}
}

.dropdown-icon {
	font-size: 70%;
}

/* MAIN CONTENT */

.box1 {
	background-color: #000000;
	position: absolute;
	opacity: 0.05;
	width: 65%;
	top: -15%;
	height: 130%;
	right: 0;
	z-index: -1;
}

.box2 {
	background-color: #000000;
	position: absolute;
	opacity: 0.08;
	width: 65%;
	top: -15%;
	height: 130%;
	left: 0;
	z-index: -1;
}

.section {
	margin-top: 12.5vh;
	margin-bottom: 12.5vh;
}

@media screen and (max-width: 800px) {
	.section {
		margin-top: 6vh;
		margin-bottom: 6vh;
	}
}

.section-row {
	width: 100%;
	height: 100%;
	margin: auto auto;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.section-img,
.section-img-small {
	width: 42.5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.section-img img,
.section-img-small img {
	margin: auto auto;
	width: 100%;
	object-fit: cover;
}

.section-img-small {
	display: none;
}

.section-info {
	width: 50%;
	margin: auto auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.section-info h2 {
	margin-bottom: 2vh;
}

.section-info p {
	margin-bottom: 2vh;
}

.section-info ul {
	margin-left: 20px;
	list-style: circle;
	line-height: 1.6;
	margin-top: 1vh;
}

.learn-more {
	margin-top: 1vh;
}

.learn-more a {
	color: var(--primary-color);
}

.who-are-the-karen-people {
	position: relative;
	margin: auto auto;
	display: flex;
}

.who-section {
	padding-bottom: 5vh;
}

.what-are-we-doing-to-help {
	position: relative;
	margin: auto auto;
	display: flex;
}

.what-are-we-doing-to-help .section-img img {
	margin: auto auto;
}

.we-need-your-support .section-img {
	width: 60%;
}

.we-need-your-support .section-info {
	width: 35%;
}

@media screen and (max-width: 800px) {
	.we-need-your-support .section-img {
		width: 100%;
	}

	.we-need-your-support .section-info {
		width: 100%;
	}
}

.testimonial-section {
	margin-bottom: 10vh;
}

.testimonials {
	width: 90%;
	margin: 0 auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.testimonials-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.slick-next,
.slick-prev {
	border: none;
	margin: auto auto;
	z-index: -1;
}

.testimonial-card {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.testimonial-img {
	width: 25vh;
	height: 25vh;
	margin: auto 0;
}

.testimonial-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}

.testimonial-info {
	text-align: left;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.testimonial-info h4 {
	margin-bottom: 1vh;
}

.testimonial-info h3 {
	margin-bottom: 2vh;
	font-size: 175%;
}

.testimonial-info .vashti {
	font-size: 150%;
}

.testimonial-info p {
	margin-bottom: 2vh;
}

@media screen and (max-width: 800px) {
	.testimonials-inner {
		flex-direction: column;
		text-align: center;
		width: 100%;
	}

	.testimonial-info {
		width: 100%;
		text-align: center;
	}

	.testimonial-img {
		width: 25vh;
		height: 25vh;
		margin: auto auto;
		margin-bottom: 3vh;
	}
}

.our-goal {
	position: relative;
	margin: auto auto;
	display: flex;
}

.goal-section {
	padding-top: 5vh;

	margin-bottom: 7vh;
}

.animated-icons {
	width: 100%;
	display: flex;
	text-align: center;
	top: -10vh;
	padding-bottom: 5vh;
}

.animated-book {
	width: 50%;
}

.animated-book p {
	font-size: 150%;
	width: 80%;
	margin: 0 auto;
	margin-top: -3vh;
}

.animation-container {
	width: 100%;
	height: 40vh;
	object-fit: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.animated-book-img {
	width: 60%;
	margin: 0 auto;
}

.animated-heart {
	width: 50%;
}

.animated-heart-img {
	width: 80%;
	margin: 0 auto;
}

.animated-heart p {
	font-size: 150%;
	width: 80%;
	margin: 0 auto;
	margin-top: -3vh;
}

@media screen and (max-width: 800px) {
	.animated-icons {
		flex-direction: column;
	}

	.animated-book {
		width: 100%;
	}

	.animated-book-img {
		width: 100%;
		margin: 0 auto;
	}

	.animated-heart {
		width: 100%;
	}

	.animated-heart-img {
		width: 100%;
		margin: 0 auto;
	}

	.animated-book p {
		font-size: 130%;
	}

	.animated-heart p {
		font-size: 130%;
	}
}

.we-need-your-support {
	position: relative;
	margin: auto auto;
	display: flex;
}

.final-cta {
	margin-top: 3vh;
	margin-bottom: 2vh;
}

@media screen and (max-width: 800px) {
	.section-row {
		flex-direction: column;
	}

	.section-img {
		width: 100%;
		margin-bottom: 3vh;
		display: none;
	}

	.section-img-small {
		width: 100%;
		margin-top: 3vh;
		display: flex;
	}

	.section-img img {
		width: 100%;
	}

	.section-info {
		width: 100%;
	}

	.box1 {
		display: none;
	}

	.box2 {
		display: none;
	}
}

.progress-bars {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 15vh;
}

.progress-bars h2 {
	margin-bottom: 1vh;
}

.progress-bars p {
	margin-bottom: 2vh;
}

.nineteen-bar {
	width: 45%;
}

.twenty-bar {
	width: 45%;
}

.nineteen-progress-bar {
	background-color: #ed4848;
	width: 0%;
	height: 30px;
	z-index: 10;
	padding: 0;
	border-radius: 5px;
	transition: all 5s ease-in-out;
}

.nineteen-progress-bar.is-visible {
	width: 100%;
	transition: all 5s ease-in-out;
}

.twenty-progress-bar {
	background-color: #ed4848;
	width: 0%;
	height: 30px;
	z-index: 10;
	border-radius: 5px;
	transition: all 5s ease-in-out;
}

.twenty-progress-bar.is-visible {
	width: 1%;
	transition: all 5s ease-in-out;
}

.progress-bar-container {
	width: 100%;
	height: 30px;
	background-color: #efdddd;
	border-radius: 5px;
}

.progress-bar-container p {
	color: white;
	padding-top: 0;
	padding-left: 10px;
}

.tally-name {
	margin-top: 10px;
}

.distance-run-bar {
	padding-top: 10px;
}

.amount-raised-bar {
	padding-top: 10px;
}

.tallies {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 1vh;
}

.tallies p {
	padding-top: 0px;
}

@media screen and (max-width: 800px) {
	.progress-bars {
		flex-direction: column;
	}

	.nineteen-bar {
		width: 100%;
		margin-bottom: 5vh;
	}

	.twenty-bar {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	h2 {
		font-size: 180%;
	}

	.final-cta {
		margin-left: auto;
		margin-right: auto;
	}
}

footer {
	color: white;
}

.footer-container {
	background: linear-gradient(to right, #ed4848, #e86969);
}

.footer-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.footer-bottom {
	width: 100%;
	background-color: rgb(50, 50, 50);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	line-height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footer-bottom a {
	color: white;
}

.footer-1,
.footer-2,
.footer-3 {
	padding-top: 5vh;
	padding-bottom: 5vh;
	width: 29%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.footer-1 img,
.footer-2 img,
.footer-3 img {
	width: 100%;
	margin-bottom: 1vh;
}

.footer-cta {
	margin: 0 auto;
	color: white;
}

.footer-social-links {
	margin-right: auto;
	margin-left: auto;
}

.footer-social-links a {
	color: white;
	font-size: 200%;
	padding-right: 10px;
	padding-left: 10px;
}

.footer-3 h2 {
	margin-bottom: 1vh;
}

@media screen and (max-width: 800px) {
	.footer-inner {
		flex-direction: column;
	}

	.footer-1,
	.footer-2,
	.footer-3 {
		padding-top: 5vh;
		padding-bottom: 5vh;
		width: 100%;
	}

	.footer-social-links {
		margin-top: 4vh;
	}
}
